doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/detail.css')
    script(src="js/detail.js" type="text/javascript")
    title Document
  body
    .detailContainer
      .btns
        button.delete-btn 删除
        button.clearlist-btn 清空列表
      ul.list
        li.title
          input(type='checkbox' name='' id='')
          span 歌曲
          span 歌手
          span 时长